<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a Blue Vet</h1>
        <p class="lead">Contamos con el mejor equipo de profesionales en la industria veterinaria y contamos con instalaciones modernas y con equipo tecnológico para poder diagnosticar, asesorar y ayudarte a cuidar a tu mascota. Contamos con tres clínicas para cubrir la Ciudad de Guatemala y estamos en proceso de crecimiento para estar cada vez más cerca de tu casa.
            Todos nuestros veterinarios son graduados, colegiados y constantemente son capacitados en nuevas técnicas y uso del equipo. también contamos con equipo de soporte como enfermeros y personal administrativo, todos enfocados en proveer el nivel de atención que tu mascota requiere.</p>
        <div class="d-flex justify-content-center"><img src="https://assets.stickpng.com/images/580b57fbd9996e24bc43bbd7.png"><img></div>
        <p class="lead">Contamos con planes de salud para facilitar el cuidado veterinario de tu mascota. Los planes incluyen consultas, vacunas, desparasitaciones y descuento en nuestros laboratorios y en algunos productos y servicios en Arca de Noé. ¡Con nuestros planes de salud planificas mejor el cuidado de tu mascota y en el proceso ahorras!Visita nuestras clínicas y clarifica cualquier duda que tengas al respecto.</p>
        <hr class="my-4">
        <p>Forma parte de nuestra gran familia.</p>
        <p class="lead">
            <a class="btn btn-danger btn-lg" routerLink="/registroClientes" role="button">¡Reg&iacute;strate Ahora!</a>
        </p>
    </div>
</div>